p{
	font-family: 'Open Sans',sans-serif;
	font-weight: normal;
	line-height: 1.5;
	text-align: center;
	text-decoration: underline;
}

h1{
	font-family: Georgia;
	text-align: right;
	text-decoration: line-through;
}

h1{
	font-size:2em;
}